
language: generic
sudo: false

branches:
  only:
    - source

before_install:
 - git config --global user.email "lujun9972@gmail.com"
 - git config --global user.name "darksun"
 
script:
- echo -e $TRAVIS_PRIVATE >~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
- wc -l ~/.ssh/id_rsa
- echo "Host github.com" >> ~/.ssh/config
- echo "   Hostname github.com" >> ~/.ssh/config
- echo "   StrictHostKeyChecking no" >> ~/.ssh/config
- echo "   CheckHostIP no" >> ~/.ssh/config
- echo "   UserKnownHostsFile=/dev/null" >> ~/.ssh/config
- git clone git@github.com:lujun9972/lujun9972.github.com.git
- cd lujun9972.github.com && ./generate_index.sh >README.org
- git commit -a -m "update README" || exit 0
- git push origin source
